<app-container>
  <header>
    <section class="cabecalho-link">
      <img src="assets/logo.png" alt="logo indexa">
      <div>
        <button>
          <img class="seta" src="" alt="">
          <a routerLink="/lista-contatos">Voltar</a>
        </button>
      </div>
    </section>
    <section class="cabecalho-contato">
      <img src="assets/adicionar-contato.png" alt="figura do formulário">
      <h1>Perfil do Contato</h1>
    </section>
  </header>

  <section class="perfil">
    <ul>
      <!-- telefone -->
      <li>
        <i class="material-icons">call</i>
        <strong>Telefone</strong>
      </li>
      <li>{{ contato.telefone }}</li>
      <!-- email -->
      <li>
        <i class="material-icons">mail</i>
        <strong>Email</strong>
      </li>
      <li>{{ contato.email }}</li>
      <!-- data de nascimento -->
      <li>
        <i class="material-icons">calendar_month</i>
        <strong>Data de nascimento</strong>
      </li>
      <li>{{ contato.aniversario }}</li>
      <!-- redes sociais -->
      <li>
        <i class="material-icons">language</i>
        <strong>Redes</strong>
      </li>
      <li>{{ contato.redes }}</li>
    </ul>
    <!-- botões -->
    <div class="botoes">
      <button (click)=excluirContato() class="botao-excluir">
        Excluir contato
      </button>
      <button class="botao-editar">
        Editar
      </button>
    </div>
  </section>
</app-container>
