<app-container>
  <header>
    <section class="cabecalho-link">
      <img src="assets/logo.png" alt="logo indexa">
    </section>
    <section class="cabecalho-contato">
      <img src="assets/adicionar-contato.png" alt="figura do formulário">
      <h1>Adicionar Contato</h1>
    </section>
  </header>
  <form>
    <label for="nome">Nome</label>
    <input/>
    <label for="telefone">Telefone</label>
    <input/>
    <label for="email">Email</label>
    <input/>
    <label for="aniversario">Aniversário</label>
    <input/>
    <label for="redes">Redes sociais</label>
    <div>
      <span></span>
      <input/>
    </div>
    <label for="redes">Observações</label>
    <textarea></textarea>
    <section>
      <button>Cancelar</button>
      <button>Salvar contato</button>
    </section>
  </form>
</app-container>
