<app-container>
  <header>
    <section>
      <img >
    </section>
    <section>
      <img >
      <h1>Adicionar Contato</h1>
    </section>
  </header>
  <form>
    <label>Nome</label>
    <input/>
    <label>Telefone</label>
    <input/>
    <label>Email</label>
    <input/>
    <label>Aniversário</label>
    <input/>
    <label>Rede sociais</label>
    <div>
      <span></span>
      <input/>
    </div>
    <label>Observações</label>
    <textarea></textarea>
    <section>
      <button>Cancelar</button>
      <button>Salvar contato</button>
    </section>
  </form>
</app-container>
